body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

.navegador {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
}
.Encabezado {
    text-align: center;

}
