* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:antiquewhite;
}

.navegador {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-between 20px;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}
.navegador a {
    text-decoration: none;
    list-style: none;
}
nav a:hover {
    color: brown;
    font-size: 15px;
}

img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.Encabezado {
    width: 100%;
    padding: 25px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
    background-color: rgb(206, 163, 140);
    flex-wrap: wrap;
}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
    color: rgb(100, 64, 51);
    letter-spacing: 5px;
    font-size: 62px; ;
}

.sección {
    padding: 90px 7%;
    color: black;

}
.titulo-sección {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 25px;
    color: rgb(72, 52, 52);
}
.noticia {
    padding: 90px 7%;
    margin: 20px;
    background-color: rgb(181, 140, 121);
    border-radius: 10px;
}
.noticia-titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 15px;
}