* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:antiquewhite;
}

.navegador {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: inherit;
}
nav a:hover {
    color: brown;
    font-size: 15px;
}
img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
}
.Encabezado {
    width: 100%;
    padding: 25px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
    background-color: rgb(206, 163, 140);
    border-radius: 10px;
}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
    color: rgb(133, 86, 70);
    letter-spacing: 2px;
    font-size: 42px; ;
}

.sección {
    padding: 90px 7%;
    color: black;
}
.titulo-sección {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 45px;
    color: rgb(72, 52, 52);
}